h1 {
    font-size: 42px;
    color:#293651;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    color: #00a78e;
}

.texto-centralizado {
    text-align: center;
    
}

#link-contratar {
    background-color: green;
    border: solid;
    padding: 5px;
}

* {
    font-family: sans-serif;
}
